{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center m-2">
    <h1>
      Tag List
    </h1>
    <a class="btn btn-primary" href="#" role="button">Create Tag</a>
  </div>
  {% if tag_list %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for tag in tag_list %}
        <tr>
          <th scope="row">{{ tag.pk }}</th>
          <td class="font-weight-bold">{{ tag.name }}</td>
          <td><a href="#" class="link-primary">Update</a></td>
          <td><a href="#" class="link-danger">Danger link</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no task in todo list</p>
  {% endif %}
{% endblock %}
