{% extends "base.html" %}


{% block content %}
  <div class="d-flex justify-content-between align-items-center m-2">
    <h1>
      Task List
    </h1>
    <a class="btn btn-primary" href="#" role="button">Create Task</a>
  </div>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>
                {{ task.content }}
                {% if task.is_completed %}
                  <span class="text-success"> Done</span>
                {% else %}
                  <span class="text-danger"> Not Done</span>
                {% endif %}
              </h4>
              {% if task.is_completed %}
                <a class="btn btn-secondary" href="#" role="button">Undo</a>
              {% else %}
                <a class="btn btn-success" href="#" role="button">Complete</a>
              {% endif %}
            </div>
            <p>
              Task was created:{{ task.created_at }}.
              {% if task.deadline %}
                <span class="text-danger">Deadline: {{ task.deadline }}</span>
              {% else %}
              {% endif %}
            </p>
            <p class="text-secondary">
              Tags:
              {% for tag in task.tags.all %}
                {{ tag.name }}
              {% endfor %}
            </p>
            <a class="btn btn-primary" href="#" role="button">Update</a>
            <a class="btn btn btn-danger" href="#" role="button">Delete</a>
          </div>
        </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no task in todo list</p>
  {% endif %}

{% endblock %}